%p
  %strong=link_to(t('meme.link.new_meme_from_image'), images_path)
%p
  =link_to(t('meme.link.new_meme'), new_meme_path)
%p
  = will_paginate @memes
-@memes_groups.each do |g|
  .row.spacer
    -g.each do |m|
      -if m
        .span2
          =link_to(image_tag(meme_path(m.uid, format: 'jpg'), size: '240x240'), meme_path(m.uid))
          %p
            =t('meme.crated.ago', time: time_ago_in_words(m.created_at))
            =link_to(m.user_name, user_path(m.user_id))
          %p
            =meme_likers(m)
            =meme_like_link(m)

%p.spacer
  = will_paginate @memes
%p
  =link_to(t('meme.link.new_meme'), new_meme_path)
%p
  %strong=link_to(t('meme.link.new_meme_from_image'), images_path)
