.row-fluid
  .span2
    -if @meme.image
      %p
        %strong=link_to(t('meme.link.new_image_meme'), new_image_meme_path(@meme.image))
    %p
      =link_to(t('meme.link.new_meme'), new_meme_path)
    %p
      =link_to(t('meme.link.index'), memes_path)
  .span6
    =image_tag(meme_path(@meme.uid, format: 'jpg'))
  .span4
    .row-fluid
      .span12
        %h4=meme_quote(@meme)
    .row-fluid
      .span12=t('meme.crated.at', time: @meme.created_at_human)
    .row-fluid
      .span12
        =tp('author')
        =link_to(@meme.user_name, user_path(@meme.user_id))
    .row-fluid
      .span10
        =meme_likers(@meme)
      .span2=meme_like_link(@meme)
    - if current_user && current_user.has_role?(:admin)
      .row-fluid
        .span12
          =button_to(t('meme.link.destroy'), @meme, :method=>:delete, :class=>:destroy, :confirm => t('meme.link.confirmation'))
